################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
obj/
bin/
NodeAPIClient/API/NodeApi/
NodeAPIClient/API/NodeApiDiag/
NodeAPIClient/API/NodeApiExec/
NodeApi/
NodeApiDiag/
NodeApiExec/